#main-content{
      padding-left: 50px;
    }
	
	main{
		margin-top: 250px;
		padding-top: 50px;
	}
    .products-table li{
      border:solid 3px white;
    }
    .products-table li:hover{
      border:none;
    }
    .separator{
      height:70px;
    }
	/* Hexagon settings */
  .hexagon {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 40px;
  background-color: #64C7CC;
  margin: 30px 10px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 30px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 30px solid #64C7CC;
}