
  #searchBar{
    background-image: url("");
    background-repeat:no-repeat;
    background-position: 2px 3px;
  }

    .additional-info{
      display: inline-block;
      position: absolute;
      right: 0px;

    }

    .product-name{
      display: inline-block;
    }

    .products-slide{
      position: relative;
      overflow: hidden;
    }
    .product-slide-inner{
      position: relative;
      max-width: 100vw;
      overflow: hidden;
      white-space: nowrap;
	  height: 250px;
    }

    .slide-item{
      position: relative;
      display: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      min-width: 145px;
      width: 200px;
      max-height: inherit;
      -webkit-perspective: 1000px;
      perspective: 1000px;
      box-shadow:0px 3px 3px, 0px -2px 2px;
    }

	.main-slide-content{
      height: inherit;
    }

    .price-box{
      width:100px;
      position:relative;
      left: 50%;
      bottom: 30px;
      margin-left:-50px;
    }
	
    .small-dev{
      min-width: 200px;
    }
    .xsmall-dev{
      min-width: 145px;
    }
    .medium-dev{
      min-width: 250px;
    }
    .large-dev{
      min-width: 300px;
    }
    .product-box{
      width: 100%;
    }

	.slide-item.active{
	  display: inline-block;
	}

    .active, dot:hover{
      background-color: #717171;
    }

/* slide controls */
    .slide-indicators .active{
      background-color: black;
    }
    .slide-control{
      cursor: pointer;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      width: 25px;
      height: 40px;
      background-color: #bbb;
      transition: background-color 0.5s ease;
      padding-top: 10px;
      opacity: 5;
    }
    .slide-control:hover{
      background-color: #717171;
    }
    .slide-control-prev{
      border-radius: 0px 20px 20px 0px;
      padding-left: 7px;
    }
    .slide-control-next{
      right: 0px;
      border-radius: 20px 0px 0px 20px;
      padding-left: 10px;
    }
  

  /* Hexagon settings */
  .hexagon {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 70px;
  background-color: #64C7CC;
  margin: 50px 20px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 40px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 40px solid #64C7CC;
}

.breadcrumb li{
	cursor: pointer;
}