.col-md-3{
    max-height: 400px;
}
div p{
    height: 30px;
    font-size: 20px;
    line-height: .9em;
    margin: 0px;
    padding-top: 6px;
}


main{
  margin-top:55px;
  padding-top: 10px;
}
/*sidebar rules  */
.sidebar-contents{
  z-index: 4500;
}
aside{
  position: fixed;
  width:338px;
  height:100vh;
  top: 100px;
  right:-400px;
  transition: all .3s linear;
  padding-top: 5px;
  margin-top: 0px;
  z-index: 400;
}

#sidebar-map{
  margin-top: 25px;
}
#sidebar-main{
  position: absolute;
  height: 100%;
  overflow-y: hidden;
}
#sidebar-main:hover{
    overflow-y: auto;
}
.navigation-right>li>a{
  width:26px;
  height: 50px;
  border-radius:5px;
}
.sidebar-navigation>li>a{
  min-width:24px;
  max-width:50px;
  height: 50px;
  padding:15px 5px;
  border-bottom: none;
}

.sidebar-navigation{
  position:absolute;
  right: 40px;
}

/* end of sidebar rules */
.actives{
}

.carousel-item {
  width:100%;
}

#searchOutput{
  border: solid 0.5px #f8f9fa;
  box-shadow: 1px 1px 4px 2px #64C7CC;
  position:absolute;
  top:50px;
  left: 20px;
  width:inherit;
  background-color: white;
}

#searchOutput li:hover{
  cursor:pointer;
  background-color: #f8f9fa;
}
 #nav-wrapper{
   max-height:131px;
   box-shadow: 1px 0px 2px 1px silver;
 }

 .breadcrumb {
   padding: 0px 0px;
   background-color: inherit;
   margin-bottom: 0px;
   height: 30px;
   max-height: 30px;
   overflow:hidden;
 }



 .breadcrumb-item + .breadcrumb-item::before {
   display: inline-block;
   padding-right: 0.5rem;
   padding-left: 0.5rem;
   color: #6c757d;
   content: "|";
   wrap:nowrap;
 }

  .breadcrumb-item{
    padding: 5px 0px;
  }

.active-window{
  display: run-in;
}
.inactive-window{
  display:none;
}
.carousel-control-next, .carousel-control-prev{
  width: 25px;
  height: 40px;
  background-color: blue;
  top: 50%;
  margin-top: -15px;;
}

.carousel-control-next{
    border-radius: 20px 0px 0px 20px;
}
.carousel-control-prev{
    border-radius: 0px 20px 20px 0px;
}

div.carousel-item{
  padding-left: 20px;
  padding-right: 20px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  border-radius: 25px;
  background-color: blue;

}

.carousel .img-fluid{
  max-height: 127.9px;
}

